.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.section__h2, .sandwichHeader{
  font-size: 2rem;
  text-align: center;
}

.section__svg{
  max-width: 40vw;
}

.section__article{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sandwichSection__svg{
    width: 15rem;
    margin: 2rem 2rem;
}

.sandwichSection{
  display: flex;
  margin-bottom: 2rem;
}

.sandwichSection__article{
  width: 15vw;
}
